<%-include ("partials/top") %>
<div class="row space">
  <div class="col-12 d-flex justify-content-between align-items-center underline pb-2">
    <h3 class="title text-white">Add Customer</h3>
  </div> 
</div>

<div class="row">
  <div class="col-12">
    <form action="/customers/new" method="POST" enctype="multipart/form-data">
      <div>
        <% if (error_msg && error_msg.length > 0) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong><%= error_msg %></strong> 
          </div>
          <script>
            $(".alert").alert();
          </script>
        <% } %>
      </div>

      <fieldset class="border p-2 rounded row text-white">
        <legend>Customer Details</legend>
        <div class="form-group col-md-6">
          <label>Surname: <strong class="text-danger">*</strong></label>
          <input required type="text" class="form-control" name="surname">
        </div>
        <div class="form-group col-md-6">
          <label>Other Names: <strong class="text-danger">*</strong></label>
          <input required type="text" class="form-control" name="other_names">
        </div>
        <div class="form-group col-md-6">
          <label>Gender: <strong class="text-danger">*</strong></label>
          <select name="gender" required class="form-control">
            <option></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label>Address: <strong class="text-danger">*</strong></label>
          <input required type="text" class="form-control" name="address">
        </div>
        <div class="form-group col-md-6">
          <label>Phone: <strong class="text-danger">*</strong></label>
          <input required type="tel" class="form-control" name="phone">
        </div>
      </fieldset>

      <div class="form-group mt-4">
        <button class="btn btn-success form-control" type="submit">Add Customer</button>
      </div>
    </form>
  </div>
</div>

</main>

<%-include ("partials/bottom") %>